.kVtMtA{
    border: 1px solid #F53838;
    box-shadow: none !important;
    top: calc(100% + 30px) !important;
    left: 80% !important;
}

.bhRnqO{
    border: 1px solid #F53838;
    box-shadow: none !important;  
    top: calc(100% + 30px) !important; 
    right: 12% !important; 
}

.jWpUJH{
    align-items: start !important;
    justify-content: flex-start !important;
}